<% @bills = Bill.where(parkingslot_id: @parkingslot.id).where.not(checkout_time: nil) %>
<div class="container mt-10" style="height: 100%">
    <h1></h1>
    <p></p>
    <% if @bills.any? %>
        <h4>Booking History</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Vehicle Number</th>
                        <th scope="col">Checkin-Time</th>
                        <th scope="col">Checkout-Time</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% @bills.each do |bill| %>
                        <tr>
                            <td><%= bill.vehicle_number %></td>
                            <td><%= bill.checkin_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %H:%M:%S') %></td>
                            <td><%= bill.checkout_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %H:%M:%S') %></td>
                            <td><%= bill.amount %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <h4>Booking History</h4>
        <h6>No Past Bookings Found</h6>
    <% end %>
</div>